<header class="header">
  <p class="header-item-name">G112082</p>
  <div class="header-btns">
    <button class="header-edit-btn" type="button">
      <img src="../img/svg/edit-svg.svg" alt="" width="18" height="18" />
      Edit
    </button>
    <div class="header-btns-options">
      <button class="header-btns-options-items" type="button">
        <img src="../img/prev-btn.png" alt="" />
      </button>
      <button class="header-btns-options-items" type="button">
        <img src="../img/next-btn.png" alt="" />
      </button>
      <button class="header-btns-options-items" type="button">
        <img src="../img/resize-btn.png" alt="" />
      </button>
      <button class="header-btns-options-items" type="button">
        <img src="../img/close-btn.png" alt="" />
      </button>
    </div>
  </div>
</header>
