<section class="main-info-list-vision">
  <h2 class="main-info-list-title">
    list ebay vision listings
    <span class="main-info-list-title-span">53</span>
  </h2>

  <div class="main-info-list-table">
    <table class="main-info-list-table">
      <thead class="main-info-list-table-head">
        <tr>
          <th>Listing_id</th>
          <th>SKU</th>
          <th>condition_id</th>
          <th>product_id</th>
          <th>title</th>
          <th>price</th>
          <th>listing_qty</th>
          <th>inventory_q</th>
        </tr>
      </thead>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">325064386872</td>
          <td class="">SRQ/P,Ne_ME331X...</td>
          <td class="">UEG122535</td>
          <td class="">G122535</td>
          <td class="">3300 ANSI 3LCD Projector 1080p...</td>
          <td class="">114,27</td>
          <td class="">274</td>
          <td class="">3 376</td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">325064386872</td>
          <td class="">SRQ/P,Ne_ME331X...</td>
          <td class="">UEG122535</td>
          <td class="">G122535</td>
          <td class="">3300 ANSI 3LCD Projector 1080p...</td>
          <td class="">114,27</td>
          <td class="">274</td>
          <td class="">3 376</td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">325064386872</td>
          <td class="">SRQ/P,Ne_ME331X...</td>
          <td class="">UEG122535</td>
          <td class="">G122535</td>
          <td class="">3300 ANSI 3LCD Projector 1080p...</td>
          <td class="">114,27</td>
          <td class="">274</td>
          <td class="">3 376</td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">325064386872</td>
          <td class="">SRQ/P,Ne_ME331X...</td>
          <td class="">UEG122535</td>
          <td class="">G122535</td>
          <td class="">3300 ANSI 3LCD Projector 1080p...</td>
          <td class="">114,27</td>
          <td class="">274</td>
          <td class="">3 376</td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">325064386872</td>
          <td class="">SRQ/P,Ne_ME331X...</td>
          <td class="">UEG122535</td>
          <td class="">G122535</td>
          <td class="">3300 ANSI 3LCD Projector 1080p...</td>
          <td class="">114,27</td>
          <td class="">274</td>
          <td class="">3 376</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
