<section class="main-info-list-vision same-produkt">
  <h2 class="main-info-list-title">
    Same products
    <span class="main-info-list-title-span">1</span>
  </h2>

  <div class="main-info-list-table same-produkt-table">
    <table class="main-info-list-table same-produkt-table">
      <thead class="main-info-list-table-head">
        <tr>
          <th>Original_id</th>
          <th>Same_id</th>
          <th>Fk_edit_employee</th>
        </tr>
      </thead>
      <tbody class="main-info-list-table-row">
        <tr>
          <td>G112082</td>
          <td>G900559</td>
          <td>
            <div class="cell-content">
              <span>Script</span>
              <button>
                <img src="/img/more.png" alt="more options" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="main-info-same-produkt-buttons">
      <button type="button" class="main-info-btn-expend">Expand</button>
      <button type="button" class="main-info-btn-add">Add</button>
    </div>
  </div>
</section>
