<section class="main-info-list">
  <h2 class="main-info-list-title">
    List Location
    <span class="main-info-list-title-span">6</span>
  </h2>

  <div class="main-info-list-table">
    <table class="main-info-list-table">
      <thead class="main-info-list-table-head">
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Device P/N</th>
          <th>Qty</th>
          <th>Condition</th>
          <th>Edit User</th>
          <th colspan="2">Notes</th>
        </tr>
      </thead>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <tbody class="main-info-list-table-row">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
