<section class="main-info">
  <div class="main-info-head-info first-block">
    <ul class="main-info-head-info-list">
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Brand</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val">NEC</p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Model/Series</p>
        <p class="main-info-head-info-parag-val">P401W</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Devise P/N</p>
        <p class="main-info-head-info-parag-val">NP-P401W / NP23LP+</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Dev. Type</p>
        <p class="main-info-head-info-parag-val">2013,4000,1280,16:10,LCD</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">RNK</p>
        <p class="main-info-head-info-parag-val">237</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Min price</p>
        <p class="main-info-head-info-parag-val">57,19</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Max price</p>
        <p class="main-info-head-info-parag-val">100,97</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Quantity</p>
        <p class="main-info-head-info-parag-val">3 376</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">ePrq</p>
        <p class="main-info-head-info-parag-val">65</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">eA4q</p>
        <p class="main-info-head-info-parag-val">6</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">photo_device</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val link">
            https://drive.google.com...
          </p>
          <button type="button">
            <img src="../img/link.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="main-info-head-info first-block">
    <ul class="main-info-head-info-list">
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">sku</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val">???/P,Ne_P401W/??G112082</p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">l-user</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val">Iryna</p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Category</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val">Projector</p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">e-user</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val">Script</p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">green_id</p>
        <p class="main-info-head-info-parag-val">Y</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">edit_at</p>
        <p class="main-info-head-info-parag-val">30.8.2024 12:32</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">create_at</p>
        <p class="main-info-head-info-parag-val">30.8.2024 12:32</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">amazon listing src</p>
        <div class="flex-row">
          <p class="main-info-head-info-parag-val link">
            https://www.amazon.com...
          </p>
          <button type="button">
            <img src="../img/more.png" alt="more info" width="25" height="25" />
          </button>
        </div>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">eLCCq</p>
        <p class="main-info-head-info-parag-val">0</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">amazq</p>
        <p class="main-info-head-info-parag-val">9</p>
      </li>
      <li class="main-info-head-info-item">
        <p class="main-info-head-info-parag-key">Notes</p>
        <p class="main-info-head-info-parag-val link">--------------------</p>
      </li>
    </ul>
  </div>
  <div class="main-info-photo">
    <div class="main-info-photo-item">
      <p>photo_device</p>
      <img src="../img/image-item1.png" alt="" />
    </div>
    <div class="main-info-photo-item">
      <p>photo_data_plate</p>
      <img src="../img/image-item2.png" alt="" />
    </div>
  </div>
</section>
