<section class="main-info-list">
  <h2 class="main-info-list-title">
    List Location
    <span class="main-info-list-title-span">6</span>
  </h2>

  <div class="main-info-list-table">
    <table class="main-info-list-table">
      <thead class="main-info-list-table-head">
        <tr>
          <th class="">ID</th>
          <th class="">Brand</th>
          <th class="">Category</th>
          <th class="">Device P/N</th>
          <th class="">Qty</th>
          <th class="">Condition</th>
          <th class="">Edit User</th>
          <th class="">Notes</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="">
          <td class="">G112082</td>
          <td class="">NEC</td>
          <td class="">Projectors</td>
          <td class="">CP34B</td>
          <td class="">52</td>
          <td class="">U/Ref</td>
          <td class="">Script</td>
          <td class="">No Lamp</td>
          <td class="">
            <button class="">
              <img src="../img/more.png" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
