.header {
  margin-top: 14px;
  padding: 0 30px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(129, 132, 175, 0.15);
}
.header-item-name {
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}
.header-btns {
  width: 270px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-edit-btn {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: #8184af;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-btns-options {
  padding-left: 20px;
  border-left: 1px solid #d9dae7;
}
.header-btns-options-items {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
