.main-info-list {
  display: flex;
  margin-top: 30px;
  width: 1500px;
  height: 281px;
  border-top: 1px solid rgba(129, 132, 175, 0.3);
  flex-direction: column;
}
.main-info-list-title {
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}

.main-info-list-title-span {
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: rgba(129, 132, 175, 0.2);
  font-weight: 700;
  font-size: 15px;
  color: rgba(82, 83, 105, 0.5);
  padding: 3px 7px;
}
.main-info-list-table {
  width: 1500px;
  border-collapse: collapse;
}
.main-info-list-table tr {
  font-size: 22px;
  text-transform: capitalize;
  border: 1px solid rgba(129, 132, 175, 0.3);
}
.main-info-list-table thead th {
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
  padding-left: 20px;
  text-align: left;
  border: 1px solid rgba(129, 132, 175, 0.3);
}
.main-info-list-table thead {
  width: 1500px;
  height: 46px;
}
.main-info-list-table tbody td {
  text-align: left;
  padding-left: 20px;
}
